.container-fluid{
    background-color: #FFEEA9;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row h3{
    text-align: center;
    padding-top: 20px;
}
.card{
    width: 50%;
    margin-left: 400px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);

}

.card form{
    margin: 50px;
}